h1 {
    text-align: center;
  }
  body {
    text-align: center;
  }
  .button {
    background-color: #3936ee; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button1 {border-radius: 12px;}
.button2 {border-radius: 12px;
    background-color: #01eb62;}